.hero {
    padding: 5.6vw;
    min-height: 90vh;
    background-image: url(../images/hero_desktop.jpg);
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: -80px;

    @media (max-width: 768px) {
        background-image: url(../images/hero_desktop.jpg);
        min-height: 40vh;
        background-size: contain;
        background-repeat: no-repeat;
        align-items: flex-end;
        margin-bottom: 20px;
    }

    .button {
        margin-top: 2vw;
        margin-bottom: 8px;
    }
    
    &__content {
        max-width: 640px;

        &__branding {
            max-width: 320px;
            margin: 0 auto 38px;

            img {
                position: relative;
                max-width: 100%;
            }
            
            @media (max-width: 768px) {

                img {
                    max-width: 100px;
                    top: -50px;
                }
            }
        }
    }
}